body {
    margin:0;
    display: flex;
    flex-direction: row;
}
.name1 {
    color:green;
}
.name2 {
    color:red;
}

.head-bottom {
    display: flex;
    flex-direction: column;
    width:200px;
    height: 200vh;
}
.head {
    width: 50%;
}