body{margin: 0}

.head {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.head-top-logo {
    display: flex;
    flex-direction: row;
}
.head-bottom {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSOorXDBo1a1vKRDyKiV-z_jqQ8ys1Whtw0A&s');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size:30px
}

.headTopLinks{
    display: flex;
}

.headTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 100px;
}

.headTopLinks .link {
    margin-right: 20px;
}

.headTopLinks .link a{
    text-decoration: none;
}
.headTop.link{
    margin-right: 50px;
}
.head2 {
    height: 20vh;
    display: flex;
    flex-direction: column;
}
.headTop2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding:  500px;
}



.head-bottom3 {
    flex: 1 1 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK7x38kTAd_tgWrJGf7CcuqHnwt0LINOfOtA&s');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

