body {
    margin:0;
    display: flex;
    flex-direction: row;
}
.name1 {
    color:green;
}
.name2 {
    color:red;
}

.head-bottom {
    display: flex;
    flex-direction: column;

}
.head-bottom2 {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    height: 1vh;
    padding:  600px;


}

.head {
    width: 50%;
}